
  body {
    height: 100%;
    background-image: linear-gradient(hsl(10,90,66), transparent 70%);
    background-size: 100% 100%;
    mix-blend-mode: difference;
    font: 14px Georgia, serif;
    color: black;
    }
 
#page-wrap { width: 500px; margin: 0 auto;}
 
h1  { margin: 25px 0; font: 25px Georgia, Serif; text-transform: uppercase; letter-spacing: 3px; }

h3  { margin: 25px 0; font: 20px Georgia, Serif; text-transform: uppercase; letter-spacing: 3px; }
 
#quiz input {
    vertical-align: middle;
}
 
#quiz ol {
   margin: 0 0 10px 20px;
}
 
#quiz ol li {
   margin: 0 0 20px 0;
}
 
#quiz ol li div {
   padding: 4px 0;
}
 
#quiz h3 {
   font-size: 17px; margin: 0 0 1px 0; color: black;
}
 
#results {
    font: 44px Georgia, Serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

html {
    height: 2000px;
    background-color: red;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/6/64/Creaci%C3%B3n_de_Ad%C3%A1n_%28Miguel_%C3%81ngel%29.jpg);
    background-size: 100% auto;
    background-position: top center;
    background-attachment: fixed;
    }

