
html{
	scroll-behavior: smooth;
}
p{
    margin-top: 0;
    margin-bottom: 1rem;
    color: white;
    text-align: center;
}
.text-right {
    text-align: left;
    padding-left: 62%;
}
.pre-header {
	width: 100%;
    background-color:#333;
    margin-bottom: 10px;
	  
}
.pre-header .container {
	display: flex;
}
/* nav-bar styling */
/* nav bar style */
.topnav {
    overflow: hidden;
    background-attachment: fixed;
    text-align: center;
    background-color:#333; 
   }
   .topnav a {
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline;
    font-family: 'Dosis', sans-serif;
   }
   /*
   .topnav a:hover {
   } */
   .topnav a.active {
    width: 36px;
    height: 11px;
    font-family: 'Dosis', sans-serif;
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.75px;
    text-align: left;
    color: white;
    padding-right:54px;
   }
   .topnav a.active1{
    width: 34px;
    height: 11px;
    font-family: 'Dosis', sans-serif;
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.75px;
    text-align: left;
    color: white;
    padding-right:55px;
   }
   .topnav a.active2{
    width: 44px;
    height: 11px;
    font-family: 'Dosis', sans-serif;
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.75px;
    text-align: left;
    color: white;
    padding-right:50px;
   }
   .topnav a.active3{
    width: 117px;
    height: 21px;
    font-family: 'Dosis', sans-serif;
    font-size: 30px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1.5px;
    text-align: left;
    color: white;
	padding-right:48px;
	padding-bottom: 80px;
   }
   .topnav a.active4{
    width: 32px;
    height: 11px;
    font-family: 'Dosis', sans-serif;
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.75px;
    text-align: left;
    color: white;
    padding-right:53px;
   }
   .topnav a.active5{
    width: 66px;
    height: 11px;
    font-family: 'Dosis', sans-serif;
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.75px;
    text-align: left;
    color:white;
    padding-right:49px;
   }
   .topnav a.active6{
    width: 77px;
    height: 11px;
    font-family: 'Dosis', sans-serif;
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.75px;
    text-align: left;
    color: white;
   }
   /* end of nav styling */
   .intro{
       color: black;
       text-align: center;
}
